<ion-header >
    <ion-toolbar class="header">
      <ion-title class="text">
        Imager
      </ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content class="content">
      <ion-card class="card">
    <h3 *ngIf="images.length == 0" class="note">Not found any image to show, <br> Please select image from gallery or take pictures!</h3>
      </ion-card>
   
    <ion-list class="list">
      <ion-item *ngFor="let img of images; index as pos" class="item">
        <ion-thumbnail slot="start">
          <ion-img [src]="img.path"></ion-img>
        </ion-thumbnail>
        <ion-label>
          {{ img.name }}
        </ion-label>
        <ion-button slot="end" fill="clear" (click)="startUpload(img)">
          <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
   
  <ion-footer class="footer">  
      <ion-button class="button" (click)="selectImage()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Select Image</ion-button>
  </ion-footer>